.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules
src-capacitor/android/app/build/
src-capacitor/android/.gradle/
src-capacitor/android/build/
src-capacitor/android/capacitor-cordova-android-plugins/
src-capacitor/ios/App/build/
src-capacitor/ios/App/Pods/
src-capacitor/ios/DerivedData/

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.env
.env*
